<%- include('../../partials/main', { pageTitle: 'Vehicle Stats' }) %>

<!-- Container-fluid starts-->
    <div class="page-body">
        <!-- New User start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 m-auto">
                            <div class="card">
                                <div class="title-header option-title">
                                    <h5>Vehicle ( <%= vehicle_number %> )</h5>
                                    <div class="d-inline-flex">
                                        <table class="user-table list-table table">
                                            <tr>
                                                <td style="border-right: 1px solid rgba(153, 153, 153, 0.3);">
                                                    <h6>Dispensed Quantity : </h6>
                                                </td>
                                                <td class="text-center">
                                                    <h6 class="text-center">
                                                        <b><%= total_dispensed %></b>
                                                    </h6>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            
                        <!-- Sales / Purchase chart start -->
                        <div class="col-12">
                            <!-- <div class="card o-hidden card-hover">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Revenue Report</h4>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div id="report-chart"></div>
                                </div>
                            </div> -->
                            <!-- Earning chart  end-->
                        </div>
                        <!-- Sales / Purchase chart end -->
                            
                        </div>

                        <!-- Booking history start-->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Dispensed History</h4>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="user-table list-table table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No</th>
                                                        <th>Date Time</th>
                                                        <th>Machine</th>
                                                        <th>Rate</th>
                                                        <th>Volume</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (stats != '') { %>
                                                        <% stats.forEach((row, index) => { %>
                                                            <tr>
                                                                <td><%= index + 1 -%></td>
                                                                <td><%= row.datetime %></td>
                                                                <td><%= row.vehicle_id.vehicle_number %></td>
                                                                <td class="text-center"><%= row.price %></td>
                                                                <td class="text-center"><%= row.liters %></td>
                                                                <td class="text-center"><%= row.amount %></td>
                                                            <% }) %>    
                                                        </tr>
                                                    <% } else { %>
                                                        <td>No Data Found</td>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Booking history  end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- New User End -->

        <!-- footer start -->
            <%- include('../../partials/footer')%>
        <!-- footer end -->
    </div>

<!-- Container-fluid end -->
<script src="/public/js/chart/apex-chart/moment.min.js"></script>
<script src="/public/js/chart/apex-chart/apex-chart.js"></script>
<script src="/public/js/chart/apex-chart/stock-prices.js"></script>
<script src="/public/js/chart/apex-chart/chart-custom.js"></script>

<%- include('../../partials/end')%>