<%- include('../../partials/main', { pageTitle: 'Upadate Invoice' }) %>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- New User start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-10 m-auto">
                                    <div class="card">
                                        <div class="card-body title-header option-title">
                                            <h5 style="font-size: calc(20px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));">Update Invoice (<%= order.order_id %>)</h5>
                                        </div>
                                    </div>
                                    
                                    <form class="theme-form theme-form-2 mega-form" action="/admin/orders/add-split-bill/<%= order.id %>" method="post">
                                        <div class="card">                                            
                                            <div class="table-responsive table-details">
                                                <table class="table cart-table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th >Items</th>
                                                            <th >Product Name</th>
                                                            <th >Quantity</th>
                                                            <th >Price</th> 
                                                            <th> Grand Total</th>                                                           
                                                        </tr>
                                                    </thead>
        
                                                    <tbody>
                                                        <% order.product_items.forEach(function(item){ %>                                                          
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/images/<%= order.branch_id.image %>""
                                                                            class=" lazyload img-fluid" alt="" style="width: 80px; height: 80px;"  onerror="this.src='/public/images/img2.jpg'" >
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" name="product_id" value="<%= item.product_id._id %>">
                                                                    <%= item.product_id.name %>
                                                                </td>   
                                                                  
                                                                <td>
                                                                    <input class="form-control" type="text" value="<%= item.quantity %>" name="available" id="quantity" readonly>
                                                                </td>  
                                                                <td>
                                                                    <input class="form-control" type="text" value="<%= item.price %>" name="price" id="price" readonly>
                                                                </td>                                                                                                                          
                                                                <td>
                                                                    <input class="form-control" type="text" value="<%= order.grand_total %>" name="grand_total" id="grand_total" readonly>
                                                                </td>
                                                            </tr>
                                                        <% }) %>
                            
                                                    </tbody>
                                                </table> 
                                            </div>

                                        </div>

                                        <div class="row">  
                                            <% order.product_items.forEach(function(item, index){ %>

                                                <div class="col-6">
                                                    <div class="card">
                                                        <div class="card-body"  >
                                                                                                    
                                                            <h2>Split 1</h2>
                                                            <div class="mb-4 row align-items-center">
                                                                <label class="form-label-title col-sm-4 mb-0">Split Quantity</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text"
                                                                    value="0.0" name="split_quantity" id="split_quantity" required>
                                                                </div>
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                                <label class="form-label-title col-sm-4 mb-0">Split Total</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text"
                                                                    value="0.0" name="split_total" id="split_total" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h2>Split 2</h2>

                                                            <div class="mb-4 row align-items-center">
                                                                <label class="form-label-title col-sm-4 mb-0">Split Quantity</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text"
                                                                    value="0.0" name="remaining_quantity" id="remaining_quantity" required>
                                                                </div>
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                                <label class="form-label-title col-sm-4 mb-0">Split Total</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text"
                                                                    value="0.0" name="remaining_total" id="remaining_total" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <button class="btn btn-solid" id="splitExpense" type="submit">Split Invoice</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New User End -->

                <!-- footer start -->
                    <%- include('../../partials/footer')%>
                <!-- footer end -->
            </div>
            <!-- Container-fluid end -->

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                
            <script>
                function readURL(input, viewer_id) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
            
                        reader.onload = function (e) {
                            $('#'+viewer_id).attr('src', e.target.result);
                        }
            
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            
                $("#customFileEg1").change(function () {
                    readURL(this, 'viewer');
                });
                $("#customFileEg2").change(function () {
                    readURL(this, 'viewer2');
                });
            </script>
            <script>
                function validateInput(inputField) {
                    // Remove any non-numeric characters from the input
                    inputField.value = inputField.value.replace(/[^0-9]/g, '');
                
                    // Display an error message if input is empty
                    var errorMessage = document.getElementById("errorMessage");
                    if (inputField.value === "") {
                        errorMessage.textContent = "Please enter a number.";
                    } else {
                        errorMessage.textContent = "";
                    }
                }
            </script>

        <script>
            function validateFloat(floatField) {
                // Remove any non-numeric characters (including '.') from the input
                floatField.value = floatField.value.replace(/[^0-9.]/g, '');

                // Parse the entered value as a float
                var enteredValue = parseFloat(floatField.value);

                // Display an error message if the entered value is not a valid number or less than or equal to 0
                var errorMessage = document.getElementById("errorMessage");
                if (isNaN(enteredValue) || enteredValue <= 0) {
                    errorMessage.textContent = "Please enter a valid number greater than 0.";
                    document.getElementById("confirmStatusChange").disabled = true;
                } else {
                    errorMessage.textContent = "";
                    document.getElementById("confirmStatusChange").disabled = false;
                }
            }
        </script>

        <script>
            $(document).ready(function () {
                // Event listener for form submission
                $("form").submit(function (event) {
                    // Get the selected value from the "select" element
                    var selectedValue = $("#selectOption").val();

                    // Check if the selected value is 'none' (you can replace 'none' with the actual value you want to check)
                    if (selectedValue === 'none') {
                        // Prevent form submission
                        event.preventDefault();

                        // Display an error message or perform any other actions to indicate the validation failure
                        alert('Please select a valid option.');
                    }
                });
            });
        </script>

        <script>
            function updateSplitBill() {
                var quantity = parseFloat(document.getElementById('split_quantity').value) || 0;
                var price = parseFloat(document.getElementById('price').value) || 0;
                var split_total = (quantity * price ).toFixed(2);
                var total_quantity = parseFloat(document.getElementById('quantity').value)
                var remaining_quantity = total_quantity - quantity
                var remaining_total =  (remaining_quantity * price).toFixed(2);
                document.getElementById('split_total').value = split_total;
                document.getElementById('remaining_quantity').value = remaining_quantity;
                document.getElementById('remaining_total').value = remaining_total
            }

            document.getElementById('split_quantity').addEventListener('input', updateSplitBill);
            
        </script>
            
        <script>

            function checkQuantity() {
                var quantity = parseFloat(document.getElementById('quantity').value) || 0;
                var split_quantity = parseFloat(document.getElementById('split_quantity').value) || 0;
                
                if(split_quantity > quantity) {
                    document.getElementById("splitExpense").disabled = true;
                    alert("Quantity is greater than available quantity.");
                }else{
                    document.getElementById("splitExpense").disabled = false;
                }
            }

            document.getElementById('split_quantity').addEventListener('input', checkQuantity);
        </script>
<%- include('../../partials/end')%>