<%- include('../../partials/main', { pageTitle: "Company's Lists" }) %>

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Company's Lists</h5>
                                </div>

                                <form action="/admin/auth/settings/company-add" method="POST" class="theme-form theme-form-2 mega-form">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Company's Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="name" placeholder="Enter Company Name..." required>
                                        </div>
                                    </div>

                                    <div class="d-inline-flex">
                                        <button class="align-items-center btn btn-theme d-flex" type="submit">
                                                    <i data-feather="plus-square"></i> Submit
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                        <div class="card">
                            <div class="col-12 overflow-visible">
                                <div class="tracker-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr class="table-head">
                                                    <th scope="col">Sr.No</th>
                                                    <th scope="col">Company Name</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% if (companyList != '') { %>        
                                                    <% companyList.forEach((row, index) => { %> 
                                                        <tr>
                                                            <td>
                                                                <h6><%= index+1 %></h6>
                                                            </td>
                                                            <td>
                                                                <h6><%= row.name %></h6>
                                                            </td>
                                                        </tr>
                                                    <% }) %>      
                                                <% } else { %>
                                                    <tr class="text-center">
                                                        <td class="text-center" style="padding-right: 10%;">
                                                            Nothing To Show
                                                        </td>
                                                    </tr>
                                                <% } %> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

    <!-- footer Start -->
    <%- include('../../partials/footer')%>
    <!-- footer En -->
</div>
<!-- Container-fluid End -->



<%- include('../../partials/end')%>