<%- include('../../partials/main', { pageTitle: 'Add new Branch' }) %>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- New User start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body title-header option-title">
                                            <h5 style="font-size: calc(20px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));">Add New Branch</h5>
                                        </div>
                                    </div>
                                    
                                    <form class="theme-form theme-form-2 mega-form" action="/admin/branch/add" method="post" enctype="multipart/form-data">
                                        <div class="card" >
                                            <div class="card-body">
                                                <div class="card-header-2">
                                                    <h5>Branch Information </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Branch
                                                            Name</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="name" placeholder="Enter Branch Name...." required>
                                                        </div >
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Phone
                                                            Number</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" placeholder="Enter Phone Number...." name="phone" id="numberInput" oninput="validateInput(this)" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Email
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="email" name="email" placeholder="Enter Email...." required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Password</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="password" name="password" placeholder="Enter Password...." required>
                                                        </div>
                                                    </div>

                                                    <div class="row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Confirm
                                                            Password</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="password" name="password2" placeholder="ReEnter Password...." required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-header-2">
                                                    <h5>Branch Image </h5>
                                                </div>
                                                <div class="my-4 align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">Branch Image</label>
                                                    <div class="custom-file">
                                                        <input class="form-control" type="hidden" name="maincategory" value="Admin">
                                                        <input class="form-control" type="hidden" name="subcategory" value="Branch">
                                                        <input type="file" name="image" id="customFileEg1" class="form-control form-choose"
                                                                accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" 
                                                                oninvalid="document.getElementById('en-link').click()" required>
                                                        <div class="custom-file">
                                                            <div class="text-center">
                                                                <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer" src="/public/images/img2.jpg" onerror="this.src='/public/images/img2.jpg'" alt="image" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card" >
                                            <div class="card-body ">
                                                <div class="card-header-2">
                                                    <h5>Branch Address</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">
                                                            Address Line 1
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="address1" placeholder="Enter Address 1...." required>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">
                                                            Address Line 2
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="address2" placeholder="Enter Address 2...." required>
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="mb-4 row align-items-center">
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">State
                                                            </label>
                                                            <select class="js-example-basic-single w-100" name="state" id="state">
                                                                <option value="none">-- All States  --</option>
                                                                <% if (states != '') { %>        
                                                                    <% states.forEach((row, index) => { %> 
                                                                        <option value="<%= row.name %>"> <%= row.name %></option>
                                                                <% }) %>      
                                                                <% } else { %>
                                                                    <option>Nothing To Show</option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                       
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">District
                                                            </label>
                                                            <select class="js-example-basic-single w-100" name="district" id="districts" required>
                                                                <option value="none">-- Select a State First --</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">City
                                                            </label>
                                                            <select class="js-example-basic-single w-100" name="city" id="cities" required>
                                                                <option value="none">-- Select a District First --</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">Area
                                                            </label>
                                                            <select class="js-example-basic-single w-100" name="area" id="areas" required>
                                                                <option value="none">-- Select a District First --</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">Pincode
                                                            </label>
                                                            <input class="form-control" type="text" name="pincode" placeholder="Enter Your Pincode...." required>
                                                            
                                                        </div>
                                                        
                                                        <div class="col-lg-4 col-md-4">
                                                            <label
                                                                class="col-form-label form-label-title">Country
                                                            </label>
                                                            <input class="form-control" type="text" name="country" placeholder="Enter Your Country...." value="India" required>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="card" >
                                            <div class="card-body ">
                                                <div class="card-header-2">
                                                    <h5>Branch Details</h5>
                                                </div>

                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">
                                                            Account Holder Name 
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="account_holder_name" placeholder="Account Holder Name " required>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">
                                                            Bank Name
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="bank_name" placeholder="Bank Name" required >
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="mb-4 row align-items-center">
                                                        <div class="col-lg-6 col-md-6">
                                                            <label
                                                                class="col-form-label form-label-title">Account No.
                                                            </label>
                                                            <input class="form-control" type="text" name="account_no" placeholder="Enter Account Number...." id="numberInput" oninput="validateInput(this)" required >
                                                        </div>
                                                        
                                                        <div class="col-lg-6 col-md-6">
                                                            <label
                                                                class="col-form-label form-label-title">IFSC Code
                                                            </label>
                                                            <input class="form-control" type="text" placeholder="Enter IFSC Code...." name="ifsc_code"  required >
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 row align-items-center">
                                                        <div class="col-lg-6 col-md-6">
                                                            <label
                                                                class="col-form-label form-label-title">Branch.
                                                            </label>
                                                            <input class="form-control" type="text" name="branch_name" placeholder="Enter Account Branch...." required >
                                                        </div>
                                                        
                                                        <div class="col-lg-6 col-md-6">
                                                            <label
                                                                class="col-form-label form-label-title">Gst No.
                                                            </label>
                                                            <input class="form-control" type="text" placeholder="Enter GST Number...." name="gst_no"  required >
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" >
                                            <div class="card-body ">
                                                <div class="card-header-2">
                                                    <h5>Delivery Information</h5>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-3 col-md-3 mb-0">Vehicle Number</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <input class="form-control" type="text" name="vehicle_number" placeholder="Enter the Vehicle Number" required>
                                                    </div >
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-3 col-md-3 mb-0">Phone Number</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <input class="form-control" type="text" name="vehicle_phone_number" placeholder="Enter the Phone Number" required>
                                                    </div >
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-3 col-md-3 mb-0">Email</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <input class="form-control" type="email" name="vehicle_email" placeholder="Enter the Email" required>
                                                    </div >
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-3 col-md-3 mb-0">Password</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <input class="form-control" type="password" name="vehicle_password" placeholder="Enter the Password" required>
                                                    </div >
                                                </div>
                                                
                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-labrl form-label-title">Deliveryman</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" name="deliveryman" placeholder="Enter the Deliveryman Name" required>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <button class="btn btn-solid" type="submit">Add Branch</button required>
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New User End -->

                <!-- footer start -->
                    <%- include('../../partials/footer')%>
                <!-- footer end -->
            </div>
            <!-- Container-fluid end -->

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                
            <script>
                function readURL(input, viewer_id) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
            
                        reader.onload = function (e) {
                            $('#'+viewer_id).attr('src', e.target.result);
                        }
            
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            
                $("#customFileEg1").change(function () {
                    readURL(this, 'viewer');
                });
                $("#customFileEg2").change(function () {
                    readURL(this, 'viewer2');
                });
            </script>
            
            <script>
                function validateInput(inputField) {
                    // Remove any non-numeric characters from the input
                    inputField.value = inputField.value.replace(/[^0-9]/g, '');
                
                    // Display an error message if input is empty
                    var errorMessage = document.getElementById("errorMessage");
                    if (inputField.value === "") {
                        errorMessage.textContent = "Please enter a number.";
                    } else {
                        errorMessage.textContent = "";
                    }
                }
                </script>
            
            <script>
                function validateFloat(floatField) {
                    // Remove any non-numeric characters (including '.') from the input
                    floatField.value = floatField.value.replace(/[^0-9.]/g, '');
            
                    // Parse the entered value as a float
                    var enteredValue = parseFloat(floatField.value);
            
                    // Display an error message if the entered value is not a valid number or less than or equal to 0
                    var errorMessage = document.getElementById("errorMessage");
                    if (isNaN(enteredValue) || enteredValue <= 0) {
                        errorMessage.textContent = "Please enter a valid number greater than 0.";
                        document.getElementById("confirmStatusChange").disabled = true;
                    } else {
                        errorMessage.textContent = "";
                        document.getElementById("confirmStatusChange").disabled = false;
                    }
                }
            </script>

<script>
    $(document).ready(function () {
        $("#state").change(function () {
            var selectedCategoryId = $(this).val();
            $.ajax({
                url: "/admin/auth/settings/district-lists",
                method: "GET",
                data: { state: selectedCategoryId },
                success: function (data) {
                    var subcategoryDropdown = $("#districts");
                    subcategoryDropdown.empty();
                    
                    // Add a default or selected option
                    subcategoryDropdown.append(
                        $("<option>").text('Select a District')
                    );

                    if (data.length > 0) {
                        data.forEach(function (row) {
                            subcategoryDropdown.append(
                                $("<option>").val(row.name).text(row.name)
                            );
                        });
                    } else {
                        subcategoryDropdown.append(
                            $("<option>").text("We Don't Server in this city")
                        );
                    }
                },
                error: function () {
                    console.log("Error fetching cities");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#districts").change(function () {
            var selectedCategoryId = $(this).val();
            $.ajax({
                url: "/admin/auth/settings/city-lists",
                method: "GET",
                data: { district: selectedCategoryId },
                success: function (data) {
                    var subcategoryDropdown = $("#cities");
                    subcategoryDropdown.empty();
                                        
                    subcategoryDropdown.append(
                        $("<option>").text('Select a City')
                    );
                    if (data.length > 0) {
                        data.forEach(function (row) {
                            subcategoryDropdown.append(
                                $("<option>").val(row.name).text(row.name)
                            );
                        });
                    } else {
                        subcategoryDropdown.append(
                            $("<option>").text("We Don't Server in this city")
                        );
                    }
                },
                error: function () {
                    console.log("Error fetching city");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#districts").change(function () {
            var selectedCategoryId = $(this).val();
            $.ajax({
                url: "/admin/auth/settings/area-lists",
                method: "GET",
                data: { district: selectedCategoryId },
                success: function (data) {
                    var subcategoryDropdown = $("#areas");
                    subcategoryDropdown.empty();
                                        
                    subcategoryDropdown.append(
                        $("<option>").text('Select a Area')
                    );
                    if (data.length > 0) {
                        data.forEach(function (row) {
                            subcategoryDropdown.append(
                                $("<option>").val(row.name).text(row.name)
                            );
                        });
                    } else {
                        subcategoryDropdown.append(
                            $("<option>").text("We Don't Server in this area")
                        );
                    }
                },
                error: function () {
                    console.log("Error fetching areas");
                }
            });
        });
    });
</script>


<%- include('../../partials/end')%>