<%- include('../../partials/main', { pageTitle: 'Branch Lists' }) %>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Branches Product (<%= branchProductCount -%>)</h5>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Branch</th>
                                                    <th>Product Name</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                               
                                                <% if (branchProducts && branchProducts.length > 0) { %>      
                                                    <% branchProducts.forEach((row, index) => { %> 
                                                <tr>
                                                    <td class="text-center"><%= index + 1 -%></td>
                                                    <td><%= row.branch ? row.branch.name : "--" %></td>
                                                    <td><%= row.name || "--" -%></td>
                                                    <td><%= row.branch_price -%></td>
                                                    <td>
                                                        <div onclick="updateStatus('<%= row._id %>', '<%= row %>')">
                                                            <div class="legend-indicator <%= row.is_selling ? 'status-close' : 'status-danger' %>">
                                                                <span id="statusText_<%= row._id %>"><%= row.is_selling ? 'Active' : 'Disabled' %></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul>    
                                                            <li>
                                                                <div class="clickable-cell" data-bs-toggle="modal" data-product-id="<%= row._id || 12 %>"></a>
                                                                    <i class="ri-pencil-line"></i>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <% }) %>      
                                                <% } else { %>
                                                        <td>
                                                            <tr>
                                                                <td colspan="6" class="text-center">Nothing To Show</td>
                                                            </tr> 
                                                        </td>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <%- include('../../partials/footer')%>

            </div>
            <!-- Container-fluid end -->
    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="confirmationModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Please Set the Discussed Price ......</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                    <!-- Add this input field inside your confirmationModal body -->
                    <div class="modal-body container">
                        <h4 id="text-false"></h4>
                        <div id="confirmationContainer" >
                            <label
                                class="form-label-title">
                                Updated Price
                            </label>
                            <div class="">
                                <input class="form-control" type="text" name="updated_price" id="numberInput" oninput="validateFloat(this)" placeholder="Enter Your Price...." required>
                            </div>
                            <span id="errorMessage" style="color: red;"></span>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" id="confirmStatusChange" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal" disabled>Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Updated.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            // Function to open the modal and handle data
            function openConfirmationModal(productId) {
                // Set the data-customer-id and is-privilaged in the modal
                $('#confirmationModal').attr('data-product-id', productId);

                // Show/hide the input box based on the isPrivilaged value
                // Change the modal title to "Are you sure?"
                $('#exampleModalLabel22').text('Are you sure?');

                // Open the confirmation modal
                $('#confirmationModal').modal('show');
            }

            // Function to handle the confirmation and make API call
            function confirmStatusChange() {
                // Get data-customer-id and is-privilaged from the modal
                var productId = $('#confirmationModal').attr('data-product-id');

                // Get the discussed price from the input field (only if it's visible)
                var updated_price = $('#numberInput:visible').val();


                // Make an API call using AJAX (Assuming you have an API endpoint to handle this)
                $.ajax({
                    url: '/admin/branch/branch-products/update-price',
                    method: 'POST',
                    data: {
                        productId: productId,
                        updated_price: updated_price,
                    },
                    success: function (response) {
                        // Update the status text
                        window.location.reload();
                    },
                    error: function (error) {
                        console.error("Error updating database value");
                    }
                });
            }

            // Event listener for the click button
            $('.clickable-cell').on('click', function () {
                // Get the data-customer-id and is-privilaged attribute values
                var productId = $(this).data('product-id');

                // Open the confirmation modal with the customer ID and is-privilaged value
                openConfirmationModal(productId);
            });

            // Event listener for the confirmStatusChange button
            $('#confirmStatusChange').on('click', function () {
                // Call the function to confirm status change and make API call
                confirmStatusChange();
            });
        });
    </script>
    
    <script>
    function validateFloat(floatField) {
        // Remove any non-numeric characters (including '.') from the input
        floatField.value = floatField.value.replace(/[^0-9.]/g, '');

        // Parse the entered value as a float
        var enteredValue = parseFloat(floatField.value);

        // Display an error message if the entered value is not a valid number or less than or equal to 0
        var errorMessage = document.getElementById("errorMessage");
        if (isNaN(enteredValue) || enteredValue <= 0) {
            errorMessage.textContent = "Please enter a valid number greater than 0.";
            document.getElementById("confirmStatusChange").disabled = true;
        } else {
            errorMessage.textContent = "";
            document.getElementById("confirmStatusChange").disabled = false;
        }
    }
    </script>

<script>
    function updateStatus(productId, branchId) {
        $.ajax({
            type: "POST",
            url: "/admin/branch/branch-products/updatestatus",
            data: { productId: productId , branchId : branchId},
            success: function (response) {
                // Update the status text
                const statusTextElement = $(`#statusText_${productId}`);
                statusTextElement.text(response.status ? 'Active' : 'Disabled');
    
                // Update the class of the legend-indicator span for the clicked Branch only
                const clickedBranchIndicator = $(`#statusText_${productId}`).siblings('.legend-indicator');
                clickedBranchIndicator.removeClass('bg-success bg-disabled');
                clickedBranchIndicator.addClass(response.status ? 'bg-success' : 'bg-disabled');
                window.location.reload();
                console.log("Database value updated successfully!");
            },
            error: function (error) {
                console.error("Error updating database value");
            }
        });
    }
    
</script>


<%- include('../../partials/end')%>